.tab-item-container {
    flex-grow: 1;
    margin-top: 48px;
}
.tab-btn {
    font-size: 16px;
    background: rgba(215, 223, 233, 0.24);
    border: none;
    cursor: pointer;
    outline: none;
    color: #171f46;
    padding: 8px 20px;
    font-family:'Space Grotesk', sans-serif;;
    font-weight: 500;
    width: 100%;
    border-top: 1.5px solid #d7dfe9;
    border-bottom: 1.5px solid #d7dfe9;
    border-right: 1px solid #d7dfe9;
    border-left: 1px solid #d7dfe9;
  }
  .cur-tab-btn {
    background-color: #0b69ff;
    color: #ffffff;
    border: 1px solid #0b69ff;
  }