.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .input-label {
    color: #5a7184;
    font-weight: bold;;
    font-size: 12px;
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 6px;
  }
  @media screen and (min-width: 576px) {
    .login-form-container {
      flex-direction: row;
    }
}

  .input-field {
    padding: 8px 16px;
    outline: none;
    border: 1px solid #d7dfe9;
    background-color: #ffffff;
    border-radius: 2px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    color: #171f46;
    line-height: 24px;
  }
 
  input:invalid[focused="true"] {
    border: 1px solid #ff0b37;
  }
  
  .link-input-field {
    color: #0b69ff;
  }